# compiled output
/dist
/node_modules

.husky

Jenkinsfile
PDockerfile copy
.git
docker-compose.yml
.gitignore
.gitlab-ci.yml
.huskyrc.json
.lintstagedrc.json
.prettierrc
commitlint.config.js
README.md
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
