<div class="flex flex-col flex-auto w-full">
  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
    <p class="text-4xl">Compte works works!</p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa quod ex
      laboriosam nihil delectus obcaecati et nemo porro sunt quaerat corporis
      possimus temporibus, cupiditate fugiat incidunt ea fugit soluta id. Iure
      hic nobis sapiente, beatae sunt at tempora numquam dolore? Laudantium,
      quidem repudiandae excepturi vitae architecto suscipit reprehenderit et
      non dignissimos ducimus veniam veritatis dicta eaque, quod velit porro
      illo blanditiis qui? Sunt eaque cum id tempore ea alias? Aut voluptatibus
      culpa neque cupiditate facere voluptate earum perspiciatis, rem ut facilis
      obcaecati ad aliquam architecto laboriosam pariatur illo impedit! Fugiat
      aut quae magnam delectus minima dignissimos, nihil magni modi asperiores
      laboriosam voluptatem ea dolorum, optio repellendus deleniti beatae,
      laborum unde blanditiis hic repellat assumenda cupiditate quos velit est.
      Temporibus vel totam maxime optio quae quas ipsam eligendi, amet tempore
      reiciendis dolores ducimus, tenetur sit. Ipsa ab tenetur officia iure
      suscipit, dolorum officiis quibusdam. Sit harum nobis nulla sapiente
      commodi enim veniam et? Consequuntur non, eos repellat inventore ducimus
      nulla autem numquam distinctio pariatur rem doloremque blanditiis expedita
      sequi, eius corporis. Deserunt quam itaque molestias repellendus ipsam ab
      expedita qui fugit, aspernatur tempora. Vero qui voluptates ut
      exercitationem tenetur suscipit alias, maxime consequuntur totam nisi
      aliquam voluptas iste excepturi ipsa officiis iusto? Nemo rerum nihil
      aliquid perferendis! Repudiandae veritatis perspiciatis ipsam. Earum
      voluptatem alias ad eum id tenetur magnam dignissimos amet placeat?
      Numquam vitae accusantium, culpa odio sequi tempore nulla rem inventore
      minus perferendis voluptatibus omnis doloremque. Porro, eveniet cum
      obcaecati quae, provident praesentium illo voluptatum adipisci explicabo,
      doloribus earum? Modi enim, veritatis tempora itaque sit impedit! Magnam
      ducimus laboriosam labore aut odit libero illum, officiis expedita sint
      quidem repudiandae qui nam porro blanditiis dicta modi maxime deleniti
      laudantium dolore? Atque recusandae iusto minima officia fuga ex ea
      nostrum incidunt explicabo numquam voluptates architecto quo tenetur,
      temporibus esse molestias necessitatibus obcaecati animi odit iste, quidem
      accusamus soluta! Voluptatem, exercitationem. Quod impedit dolores
      provident placeat, aspernatur officia tenetur. Minima, culpa? Quisquam
      magnam vero porro non, qui sint hic excepturi amet. Dolor quod minima
      aperiam totam natus saepe, veritatis veniam dolorem obcaecati ut corrupti,
      accusantium, consectetur quam nam illo. Iure adipisci possimus ab aliquam
      nobis iste explicabo cumque quod, incidunt et, praesentium, nulla maxime
      quasi vitae tenetur illum odio asperiores doloribus labore? Quibusdam
      totam, illo a, eum modi facere nemo, saepe at doloremque cupiditate
      numquam? Magnam officia autem assumenda exercitationem? Dolores eaque
      recusandae exercitationem, nesciunt molestiae nemo dolorem, quaerat nam
      repellat nulla neque corporis voluptate numquam blanditiis, doloribus
      eligendi perspiciatis cumque odio doloremque consequatur commodi amet.
      Asperiores accusantium reprehenderit consequatur! Vero iure modi corporis,
      nemo veniam, ab fugit sed commodi enim consectetur distinctio ea hic
      voluptatibus aut temporibus aliquid doloribus! Esse ipsam quo voluptatibus
      unde facere officia culpa deleniti, nemo nihil quis ut quos quisquam
      labore, sint enim eum fugit corporis vel animi, nisi earum sunt blanditiis
      perspiciatis? Vero hic nostrum dolorum cumque cum incidunt officiis
      laudantium rem iure. Quo, in fugit. Recusandae molestias iste nihil
      dolorem ex cumque est. Consequuntur eos inventore itaque est et nihil
      maiores officia sequi, magni nemo sunt dolore delectus deserunt id, illo
      labore voluptates, explicabo beatae enim non laboriosam iure. Voluptates,
      nihil ad, aspernatur rem perferendis labore neque rerum libero facilis
      consectetur fuga corrupti similique distinctio cumque culpa reiciendis,
      vero voluptas asperiores iusto vel accusamus alias dolore! Molestiae
      ratione et, atque, id amet sapiente nemo blanditiis illum repudiandae
      neque autem incidunt voluptatibus enim libero porro, eius similique
      placeat? Atque saepe velit nemo magni neque architecto, vero iste nihil
      reiciendis ipsa itaque autem modi, inventore nisi ex, laudantium incidunt?
      Iusto facere fuga sequi dignissimos nulla aliquid nemo quia amet libero
      minima consequuntur nostrum porro, iure labore a atque praesentium dolore
      aperiam veniam suscipit! Eos ipsam enim odio ea doloribus blanditiis, amet
      inventore! Quidem modi optio doloremque magni, ad, debitis alias nesciunt
      quibusdam, recusandae itaque obcaecati expedita exercitationem ut corrupti
      quam natus? Necessitatibus itaque expedita molestiae, repellendus
      explicabo eos iure delectus officiis repellat atque optio? Voluptatem,
      ipsam alias? Nostrum, praesentium sit, minus iste magni sequi obcaecati
      assumenda eveniet fugit hic nulla tempora in quia quas recusandae ad harum
      quibusdam ducimus iure ipsa illum, omnis repellat quod blanditiis? Modi
      ducimus harum amet et animi debitis vel, molestias asperiores a incidunt
      tempora earum unde ad ut omnis laudantium aut accusamus fugit id ipsa
      molestiae nam, perferendis eius. Praesentium, nostrum! Quibusdam
      reiciendis soluta nobis eos ipsa atque voluptas, a nesciunt dolores facere
      obcaecati animi autem beatae provident molestiae sapiente quos vel
      aliquam! Similique assumenda aliquam officiis explicabo dolores porro
      repellat magnam omnis atque, enim eos vitae nisi maxime quasi, saepe
      facere quidem nam? Reiciendis pariatur quos at eum fugit ullam, dolore non
      quasi itaque perspiciatis velit explicabo! Cumque ipsa placeat delectus ad
      exercitationem soluta eveniet dolorem fugit maiores reprehenderit
      architecto dicta necessitatibus temporibus voluptate quam quo, perferendis
      eligendi facilis non ullam cupiditate hic animi vel et. Laboriosam earum
      magni officiis ea sed consequuntur aspernatur quam reprehenderit at modi
      repellat ullam fugit corporis doloribus facilis laudantium rerum totam eum
      assumenda sunt architecto, necessitatibus laborum tempora labore! Cumque
      eligendi reprehenderit voluptas in atque fuga veritatis optio illo
      voluptatibus quam cum recusandae, illum nihil odit ullam delectus et est
      excepturi accusamus, aperiam possimus repellendus quae! Vitae, nulla!
      Laboriosam perferendis veritatis tenetur impedit quisquam cumque odio
      consequatur sed eveniet sint. Aut temporibus quidem asperiores veniam,
      natus mollitia voluptatem in reiciendis esse animi cum sed iusto ullam.
      Reprehenderit fuga quis magnam ullam, consectetur, fugit ipsum
      consequuntur facere fugiat deleniti sunt, optio doloremque id ad. Voluptas
      recusandae rerum non eligendi sed soluta dicta dolorum a iste expedita
      necessitatibus, adipisci esse qui repudiandae consequatur obcaecati unde
      tenetur molestiae nisi eos. A voluptatum quam vero, dicta facilis
      asperiores vel tenetur iusto! Est nisi quas soluta laboriosam ducimus
      assumenda, quae illum, hic doloribus similique, minus molestiae at! Quos,
      est aliquam alias architecto veniam laborum nostrum eaque eum excepturi
      amet impedit blanditiis numquam, officiis eius dicta molestias accusamus
      aperiam vitae, id repudiandae recusandae enim quam beatae. Earum beatae,
      illum aspernatur recusandae optio vero, maxime hic atque corrupti minus
      sit aut saepe, deserunt consequatur quam vitae suscipit harum repudiandae
      commodi ducimus omnis? Non reprehenderit delectus pariatur. Voluptas,
      eligendi? Expedita eveniet fugiat, hic aliquam quia optio obcaecati
      blanditiis rem ad corporis alias cumque accusamus dicta, eius ullam?
      Perferendis, adipisci necessitatibus. Dolores dolorum nihil deserunt
      asperiores repudiandae minus veniam! Nulla, accusamus commodi quod sunt
      vel sint expedita dolore quibusdam voluptates! Iste, facere vero.
      Voluptate reprehenderit nisi quis sit exercitationem esse, corrupti
      distinctio officiis dolores quod debitis, quos nam ab quae nobis illo.
      Quisquam dolorem, molestias nam saepe reprehenderit, in quo doloribus quia
      accusantium, sunt laudantium temporibus id! Explicabo sunt consequatur
      tenetur atque placeat culpa cum obcaecati ducimus consequuntur doloremque
      eum dolore officia qui, saepe beatae, velit deleniti maxime. Laudantium
      ducimus quos ipsum, adipisci ipsam iusto molestiae? Natus accusantium
      expedita incidunt ullam itaque, omnis ut blanditiis perferendis totam
      facilis officia provident mollitia modi ipsum ab alias ipsam nisi adipisci
      beatae exercitationem voluptate corporis magnam tempore reprehenderit.
      Ipsum quam enim ea pariatur praesentium amet autem inventore quidem illo
      minus labore quis, eaque, fuga expedita nesciunt sint maxime temporibus
      officia debitis nobis asperiores illum non. Repudiandae iure harum
      quibusdam non? Maiores adipisci iusto assumenda, facilis nihil sapiente
      nemo blanditiis laudantium et quia dolorem, exercitationem quibusdam ipsa
      ea provident dolores temporibus qui impedit doloremque asperiores earum
      quod rerum. Cupiditate earum incidunt odio quisquam rem quasi soluta minus
      non sapiente dolores animi ipsum dolore, aperiam dolorum magni amet
      corporis corrupti tempore. Ab repellat laboriosam officiis, nihil rem
      voluptate quo! Corrupti, nam possimus qui mollitia consectetur deserunt
      officia praesentium aperiam ipsa eligendi facere autem hic beatae saepe
      dolorum, rem aliquid sit, quaerat sed nobis. Expedita perspiciatis,
      eligendi eos quo iure adipisci enim labore voluptates ducimus ipsam,
      pariatur rem, beatae cupiditate. Cumque hic error at laboriosam assumenda
      est, eum reiciendis fugit a unde dolore cupiditate atque consequatur cum
      qui aliquid quasi! Veniam ut voluptate amet id explicabo ipsa nemo aliquam
      sint debitis dolorem, cumque odit quisquam quod harum animi atque error
      vel laboriosam omnis unde minima labore. Molestias suscipit facere
      distinctio doloribus voluptas vero amet at asperiores assumenda placeat,
      doloremque aperiam culpa dolore totam exercitationem voluptatum repellat
      provident laudantium iusto, quasi nemo accusantium, delectus vitae!
      Eveniet numquam vitae porro dolore reiciendis consequatur doloremque ab
      praesentium nemo ex nesciunt unde, voluptas debitis? Quaerat aut
      doloremque facilis in similique, maxime culpa. Ipsa magni, omnis voluptas
      cumque earum architecto! Sed nostrum minus voluptate illo fugiat officiis
      nihil perferendis dignissimos aut placeat soluta recusandae vel libero
      voluptates numquam qui dolorem inventore unde, facere eos. Excepturi
      consequuntur ad placeat error non cupiditate voluptatum explicabo odit,
      tenetur aperiam et harum, at distinctio rerum modi id neque eius iusto
      amet aliquid natus autem fugiat? Necessitatibus, voluptate aperiam animi
      earum incidunt repellendus reprehenderit, perferendis accusamus placeat
      consectetur nemo, dicta ex ipsa! Ex perferendis tempora vel deserunt quas
      fuga repellat quod fugit? Voluptatum tempore labore earum harum corrupti
      dignissimos autem tempora sed laboriosam nobis adipisci beatae,
      repudiandae cupiditate placeat consectetur, consequatur cum sit modi? Quas
      aliquam pariatur recusandae odio sunt facere? Harum, veritatis unde totam
      eligendi iusto, sunt sit recusandae facilis illum similique aspernatur
      laborum nostrum distinctio rerum. Commodi eveniet recusandae nesciunt
      facilis hic, ea debitis. Modi est aperiam doloribus quasi vero sequi fuga
      eum blanditiis assumenda maiores repellendus labore pariatur voluptas,
      odit accusantium ipsa a laborum voluptates! Quos eligendi illum provident
      accusamus nulla repellat sunt fugiat qui obcaecati maxime labore id, unde
      sequi ipsum aliquid? Voluptates consectetur unde sapiente? Animi
      dignissimos ducimus nesciunt veritatis? Tenetur cumque porro a distinctio
      natus. Tempore, placeat voluptas? Quasi reprehenderit veniam cumque quod
      dignissimos odit consequatur vel dolores consequuntur! Voluptatum, eius
      repudiandae nulla, veritatis id adipisci laboriosam quisquam non esse
      maxime est perspiciatis nobis ducimus repellat reprehenderit deserunt ex
      quos ut rem exercitationem, labore tenetur voluptates laudantium.
      Perferendis dolorum eaque ipsam nihil explicabo ad reprehenderit debitis
      quos pariatur eligendi labore assumenda ab ut cupiditate iusto et aliquid,
      amet quisquam earum! Veritatis nostrum eum quis nulla sit corrupti
      consequuntur cum, voluptates error soluta accusantium, ad aperiam
      explicabo. Voluptas quo doloribus, molestias esse qui enim modi fugiat,
      sapiente nihil quia pariatur libero ad! Reprehenderit architecto,
      voluptate vero vitae similique rem ratione inventore voluptatem ad
      corrupti quibusdam eligendi, officia distinctio magnam qui tempora dolore
      veniam suscipit eaque quo minima impedit modi soluta? Quaerat aut autem
      deserunt, atque illum nisi nemo vitae similique dolore dolor ea molestias
      ut ducimus aspernatur eum esse? Aspernatur saepe alias tempore minus harum
      voluptate illum, ratione quae praesentium quaerat hic dolorem illo rerum
      fugit explicabo est, recusandae, in autem tenetur repellat ullam qui. At
      corrupti voluptas optio cumque vel vitae sed voluptatem ad fuga. Debitis
      officia alias iusto corporis delectus. Harum illum tenetur nesciunt
      dolorum, laborum unde magni quam quisquam, officiis atque tempore odio ex
      officia nam accusantium, debitis aperiam dignissimos recusandae esse vel
      ullam. Enim earum nulla esse quos dolorum sed, nemo magnam cupiditate
      alias hic, eum odit debitis, odio dolore fugit maxime! Officia, nesciunt
      ea natus facere repellat ipsa ipsum quibusdam harum dicta rerum recusandae
      reiciendis laborum illo mollitia itaque facilis? Eos adipisci illo,
      perferendis sequi at deserunt officia veritatis ipsum vitae, reprehenderit
      fugiat ipsa sit, dolore repudiandae sunt molestias error id qui. Totam
      assumenda distinctio cupiditate voluptate perspiciatis. Iure fugiat
      ratione, provident tempora hic praesentium numquam at aperiam aut tempore
      dicta velit, expedita quo accusantium sit nihil? Deserunt nihil,
      voluptatum excepturi repellat facilis inventore in perferendis
      necessitatibus placeat obcaecati soluta accusantium minima maiores nisi
      voluptas ipsam, laborum atque, nulla vero iure quis. Culpa cum ea atque
      molestias soluta laboriosam eaque, voluptatibus mollitia praesentium
      expedita nisi nulla animi aperiam quam debitis facere quas. Incidunt
      voluptate ipsum corrupti commodi. Blanditiis, eius fugiat ullam nihil
      veritatis sunt incidunt quia tempore, sed corrupti sint voluptatem nemo a
      distinctio beatae. Eaque maiores sapiente recusandae, eveniet, aliquam
      explicabo eos itaque unde ullam inventore iusto tempora praesentium totam
      quae necessitatibus id quasi possimus. Veniam non sunt id sed, repellendus
      tenetur in a tempora excepturi ut esse laudantium velit necessitatibus?
      Veniam labore laboriosam nihil minus explicabo voluptates vitae qui cum,
      pariatur deserunt aperiam nesciunt? Quod sed non unde. Provident dolore
      dolor optio doloribus praesentium quibusdam placeat, natus voluptatibus
      error porro iure consectetur pariatur recusandae ut, aperiam laborum
      maxime obcaecati?
    </p>
  </div>
</div>
