<div class="flex flex-col flex-auto">
  <!-- HEADER -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-6 pb-0 sm:pt-8 sm:px-10 dark:bg-transparent"
  >
    <div class="flex-1 min-w-0">
      <div class="flex items-center justify-between w-full py-2 sm:py-3">
        <div>
          <!-- BREADCRUMD -->
          <fuse-breadcrumb [paths]="paths"></fuse-breadcrumb>

          <div class="flex sm:hidden">
            <a
              class="inline-flex items-center -ml-1.5 text-secondary font-medium"
            >
              <mat-icon
                class="icon-size-2 text-secondary"
                [svgIcon]="'heroicons_outline:chevron-left'"
              ></mat-icon>
              <span>Retour</span>
            </a>
          </div>
        </div>

        <!-- BUTTON RETOUR HISTORIQUE -->
        <div class="flex items-center ml-6">
          <button
            mat-flat-button
            class="mat-focus-indicator hidden sm:inline-flex rounded-lg mat-flat-button mat-button-base mat-primary"
            [routerLink]="['../list']"
          >
            <mat-icon
              class="icon-size-5 mr-2"
              [svgIcon]="'heroicons_outline:view-list'"
            ></mat-icon>
            Historique
          </button>

          <div class="sm:hidden">
            <button
              mat-icon-button
              class="mat-focus-indicator mat-menu-trigger mat-icon-button mat-button-base"
              [matMenuTriggerFor]="historique"
              [routerLink]="['../list']"
            >
              <mat-icon
                class="mat-icon notranslate mat-icon-no-color"
                svgIcon="heroicons_outline:dots-vertical"
              >
              </mat-icon>
              <mat-menu #historique>
                <button mat-menu-item>Historique</button>
              </mat-menu>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CENTENT FORM -->
  <div class="w-full px-6 py-2 sm:py-4 sm:px-10 dark:bg-transparent">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0"
    >
      <div
        class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card rounded-t-xl overflow-hidden"
      >
        <div class="flex flex-col sm:flex-row items-start justify-between">
          <div
            class="text-primary-600 text-lg font-medium tracking-tight leading-6 truncate"
          >
            Creer un booking
          </div>
        </div>

        <!-- FORMS -->
        <form class="p-4 overflow-hidden" [formGroup]="form">
          <div class="grid sm:grid-cols-2 gap-6 w-full mt-8 sm:mt-4">
            <!-- NUMERO REEL -->
            <mat-form-field class="w-full">
              <mat-label>Numéro réel</mat-label>
              <input
                matInput
                #input
                type="text"
                placeholder="Numéro réel"
                [formControlName]="'numero_reel'"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngIf="form.get('numero_reel').hasError('required')">
                {{ errosForm("Le numéro réel") }}
              </mat-error>
            </mat-form-field>

            <!-- NUMERO CHANGE -->
            <mat-form-field class="w-full">
              <mat-label>Numéro change</mat-label>
              <input
                matInput
                #input
                type="text"
                placeholder="Numéro change"
                [formControlName]="'numero_change'"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngIf="form.get('numero_change').hasError('required')">
                {{ errosForm("Le numéro change") }}
              </mat-error>
            </mat-form-field>

            <!-- STATUT -->
            <mat-form-field class="w-full">
              <mat-label>Statut</mat-label>
              <mat-select
                [formControlName]="'state'"
                [errorStateMatcher]="matcher"
              >
                <ng-container *ngFor="let element of stateBooking">
                  <mat-option [value]="element.value">
                    {{ element?.libelle }}
                  </mat-option>
                </ng-container>
              </mat-select>
              <mat-error *ngIf="form.get('state').hasError('required')">
                {{ errosForm("Le statut") }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- CONTENT GOES HERE -->
          <div
            class="h-80 min-h-80 max-h-80 border border-dashed border-gray-600 rounded-2xl mt-8 sm:mt-4"
          >
            <div class="grid sm:grid-cols-1 gap-6 w-full">
              <div
                class="flex justify-center mt-4 text-gray-500 font-bold"
              >
                Glisser, deposer votre document
              </div>
              <div class="flex justify-center mt-2">
                <mat-icon
                  svgIcon="heroicons_outline:cloud-upload"
                  class="icon-size-20"
                ></mat-icon>
              </div>
              <div
                class="flex justify-center mt-2 text-gray-500 font-bold"
              >
                PDF, Taille maximale : 2048kb | 2Mb
              </div>
              <div class="flex justify-center m-4">
                <input (change)="onFileSelected($event)"
                  matInputFile type="file" />
              </div>
            </div>
          </div>

          <div class="flex justify-center mt-8">
            <button
              class="px-4 rounded-lg text-primary bg-primary-50 mr-2"
              mat-flat-button
              type="button"
              [routerLink]="['../list']"
            >
              <mat-icon
                class="icon-size-5 mr-2"
                [svgIcon]="'heroicons_outline:chevron-left'"
              ></mat-icon>
              Annuler
            </button>

            <button
              class="px-4 rounded-lg"
              mat-flat-button
              [color]="'primary'"
              type="button"
              [disabled]="form.invalid"
              (click)="confirmeSubmit()"
            >
              Enregistrer
            </button>
          </div>
        </form>
        <!-- FIN FORMS -->
      </div>
    </div>
  </div>
  <!-- FIN CENTENT FORM -->
</div>
