<div class="flex flex-col flex-auto">
  <!-- HEADER -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-6 pb-0 sm:pt-8 sm:px-10 dark:bg-transparent"
  >
    <div class="flex-1 min-w-0">
      <div class="flex items-center justify-between w-full py-2 sm:py-3">
        <div>
          <!-- BREADCRUMD -->
          <fuse-breadcrumb [paths]="paths"></fuse-breadcrumb>

          <div class="flex sm:hidden">
            <a
              class="inline-flex items-center -ml-1.5 text-secondary font-medium"
            >
              <mat-icon
                class="icon-size-2 text-secondary"
                [svgIcon]="'heroicons_outline:chevron-left'"
              ></mat-icon>
              <span>Retour</span>
            </a>
          </div>
        </div>

        <!-- BUTTON RETOUR HISTORIQUE -->
        <div class="flex items-center ml-6">
          <button
            mat-flat-button
            class="mat-focus-indicator hidden sm:inline-flex rounded-lg mat-flat-button mat-button-base mat-primary"
            [routerLink]="['../list']"
          >
            <mat-icon
              class="icon-size-5 mr-2"
              [svgIcon]="'heroicons_outline:view-list'"
            ></mat-icon>
            Historique
          </button>

          <div class="sm:hidden">
            <button
              mat-icon-button
              class="mat-focus-indicator mat-menu-trigger mat-icon-button mat-button-base"
              [matMenuTriggerFor]="historique"
              [routerLink]="['../list']"
            >
              <mat-icon
                class="mat-icon notranslate mat-icon-no-color"
                svgIcon="heroicons_outline:dots-vertical"
              >
              </mat-icon>
              <mat-menu #historique>
                <button mat-menu-item>Historique</button>
              </mat-menu>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CENTENT FORM -->
  <div class="w-full px-6 py-2 sm:py-4 sm:px-10 dark:bg-transparent">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0"
    >
      <div
        class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card rounded-t-xl overflow-hidden"
      >
        <div class="flex flex-col sm:flex-row items-start justify-between">
          <div
            class="text-primary-600 text-lg font-medium tracking-tight leading-6 truncate"
          >
            Creer un plan d'empotage
          </div>
        </div>

        <!-- FORMS -->
        <form class="p-4 overflow-hidden" [formGroup]="verticalStepperForm">
          <mat-vertical-stepper
            [linear]="true"
            #stepper
            #verticalStepper
            orientation="vertical"
            (selectionChange)="selectionChange($event)"
          >
            <!-- STEP 1 -->
            <mat-step
              [editable]="isEditable"
              [formGroupName]="'step1'"
              [stepControl]="verticalStepperForm?.get('step1')!"
              #verticalStepperStep1
            >
              <ng-template matStepLabel>
                <h3 class="title">Prérequis</h3>
                <span class="sub-title"
                  >Identification de la fiche de transfert</span
                >
              </ng-template>

              <!-- TYPE -->
              <div class="w-full mt-2">
                <mat-label (click)="type.toggle()">Contrat</mat-label>
                <mat-slide-toggle
                  class="ml-2"
                  [color]="'primary'"
                  [formControlName]="'type'"
                  #type>
                </mat-slide-toggle>
              </div>

              <div class="grid sm:grid-cols-2 gap-6 w-full mt-8 sm:mt-4">
                <!-- CONTRAT -->
                <mat-form-field class="w-full mt-6">
                  <mat-select
                    *ngIf="verticalStepperForm.get('step1')?.value.type"
                    [placeholder]="'Sélectionner un contrat'"
                    [formControlName]="'contrat'"
                    [errorStateMatcher]="matcher"
                  >
                    <ng-container *ngIf="contrats$ | async as lists">
                      <ng-container *ngFor="let element of lists">
                        <mat-option value="{{ element.id }}">{{
                          element.libelle
                        }}</mat-option>
                      </ng-container>
                    </ng-container>
                  </mat-select>
                  <input
                    *ngIf="!verticalStepperForm.get('step1')?.value.type"
                    matInput
                    #input
                    type="number"
                    [min]="0"
                    placeholder="Quantite"
                    [formControlName]="'quantite'"
                    [errorStateMatcher]="matcher"
                  />
                </mat-form-field>

                <!-- PREMIUM -->
                <mat-form-field class="w-full">
                  <mat-label>Premium</mat-label>
                  <input
                    matInput
                    #input
                    type="number"
                    placeholder="Premium"
                    [formControlName]="'premium'"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-error *ngIf="verticalStepperForm.get('step1').get('premium').hasError('required')">
                    {{ errosForm("Premium") }}
                  </mat-error>
                </mat-form-field>

                <!-- QUALITE -->
                <mat-form-field class="w-full">
                  <mat-label>Qualité</mat-label>
                  <input
                    matInput
                    #input
                    type="number"
                    [min]="0"
                    placeholder="Qualité"
                    [formControlName]="'qualite'"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-hint align="end"></mat-hint>
                </mat-form-field>

                <!-- DISCOMPTE -->
                <mat-form-field class="w-full">
                  <mat-label>Discompte</mat-label>
                  <input
                    matInput
                    #input
                    type="number"
                    placeholder="Discompte"
                    [formControlName]="'discompte'"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-hint align="end"></mat-hint>
                </mat-form-field>
              </div>

              <div class="flex justify-end mt-8">
                <button
                  class="px-4 rounded-lg"
                  mat-flat-button
                  [color]="'primary'"
                  [disabled]="
                    verticalStepperStep1.stepControl.pristine ||
                    verticalStepperStep1.stepControl.invalid
                  "
                  type="button"
                  matStepperNext
                >
                  Suivant
                  <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_outline:chevron-right'"
                  ></mat-icon>
                </button>
              </div>
            </mat-step>

            <!-- STEP 2 -->
            <mat-step
              [editable]="isEditable"
              [formGroupName]="'step2'"
              [stepControl]="verticalStepperForm?.get('step2')!"
              #verticalStepperStep2
            >
              <ng-template matStepLabel>
                <h3 class="title">Site</h3>
                <span class="sub-title"
                  >Information relative de la fiche de transfert</span
                >
              </ng-template>

              <div class="grid sm:grid-cols-2 gap-6 w-full mt-8 sm:mt-4">
                <!-- BOOKING -->
                <mat-form-field class="w-full">
                  <mat-label>Booking</mat-label>
                  <mat-select
                    [placeholder]="'Sélectionner un booking'"
                    (selectionChange)="onContainer()"
                    [formControlName]="'booking_id'"
                    [errorStateMatcher]="matcher"
                  >
                    <ng-container *ngIf="bookings$ | async as lists">
                      <ng-container *ngFor="let element of lists">
                        <mat-option [value]="element.id">{{ element?.numero_reel }}</mat-option>
                      </ng-container>
                    </ng-container>
                  </mat-select>
                </mat-form-field>

                <!-- CONTENEUR -->
                <mat-form-field class="w-full">
                  <mat-label>Conteneur</mat-label>
                  <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip class="bg-primary-50"
                      *ngFor="let item of conteneurs" (removed)="remove(item)">
                      {{item}}
                      <button class="mb-2" matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip>
                    <input
                      [disabled]="true"
                      placeholder="Sélectionner un conteneur"
                      #conteneurInput
                      [formControlName]="'conteneurs'"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let item of conteneurs$ | async" [value]="item?.id">
                      {{item?.numero}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <!-- ENTREPOT -->
                <mat-form-field class="w-full">
                  <mat-label>Entrepôt</mat-label>
                  <mat-select
                    [placeholder]="'Sélectionner un entrepôt'"
                    (selectionChange)="onEntrepot()"
                    [formControlName]="'entrepot_id'"
                    [errorStateMatcher]="matcher"
                  >
                    <ng-container *ngIf="entrepots$ | async as lists">
                      <ng-container *ngFor="let element of lists">
                        <mat-option [value]="element?.entrepot_id">{{ element?.entrepot?.libelle }}</mat-option>
                      </ng-container>
                    </ng-container>
                  </mat-select>
                </mat-form-field>

                <!-- TRANSITAIRE -->
                <mat-form-field class="w-full">
                  <mat-label>Transitaire</mat-label>
                  <mat-select
                    [placeholder]="'Sélectionner un transitaire'"
                    [formControlName]="'transitaire_id'"
                    [errorStateMatcher]="matcher"
                  >
                    <ng-container *ngIf="transitaires$ | async as lists">
                      <ng-container *ngFor="let element of lists">
                        <mat-option value="{{ element.id }}">{{
                          element?.raison_social
                        }}</mat-option>
                      </ng-container>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="flex justify-between mt-8">
                <button
                  class="px-4 rounded-lg text-primary bg-primary-50"
                  mat-flat-button
                  type="button"
                  matStepperPrevious
                >
                  <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_outline:chevron-left'"
                  ></mat-icon>
                  Précedent
                </button>

                <button
                  class="px-4 rounded-lg"
                  mat-flat-button
                  [color]="'primary'"
                  [disabled]="
                    verticalStepperStep1.stepControl.pristine ||
                    verticalStepperStep1.stepControl.invalid
                  "
                  type="button"
                  matStepperNext
                >
                  Suivant
                  <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_outline:chevron-right'"
                  ></mat-icon>
                </button>
              </div>
            </mat-step>

            <!-- STEP 3 -->
            <mat-step
              [editable]="isEditable"
              [formGroupName]="'step3'"
              [stepControl]="verticalStepperForm?.get('step3')!"
              #verticalStepperStep3
            >
              <ng-template matStepLabel>
                <h3 class="title">Lots</h3>
                <span class="sub-title"
                  >Information relative de la fiche de transfert</span
                >
              </ng-template>

              <div class="grid sm:grid-cols-2 gap-6 w-full mt-8 sm:mt-4">
                <!-- LOTS -->
                <mat-form-field class="w-full">
                  <mat-label>Lots</mat-label>
                  <mat-select
                    [formControlName]="'lots'"
                    [errorStateMatcher]="matcher"
                    multiple
                  >
                    <ng-container *ngIf="lots$ | async as lists">
                      <ng-container *ngFor="let element of lists">
                        <mat-option [value]="element.id">{{  element?.numero_lot }}</mat-option>
                      </ng-container>
                    </ng-container>
                  </mat-select>
                </mat-form-field>

                <!-- SAC -->
                <mat-form-field class="w-full">
                  <mat-label>Nombre de sacs</mat-label>
                  <input
                    matInput
                    #input
                    type="number"
                    [min]="0"
                    placeholder="Nombre de sacs"
                    [formControlName]="'sac'"
                    [errorStateMatcher]="matcher"
                  />
                  <span matSuffix> / {{ maxContainer }}</span>
                </mat-form-field>
              </div>

              <div class="flex justify-between mt-8">
                <button
                  class="px-4 rounded-lg text-primary bg-primary-50"
                  mat-flat-button
                  type="button"
                  matStepperPrevious
                >
                  <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_outline:chevron-left'"
                  ></mat-icon>
                  Précedent
                </button>

                <button
                  class="px-4 rounded-lg"
                  mat-flat-button
                  [color]="'primary'"
                  [disabled]="
                    verticalStepperStep2.stepControl.pristine ||
                    verticalStepperStep2.stepControl.invalid
                  "
                  type="button"
                  matStepperNext
                >
                  Suivant
                  <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_outline:chevron-right'"
                  ></mat-icon>
                </button>
              </div>
            </mat-step>

            <!-- STEP 4 -->
            <mat-step
              [editable]="isEditable"
              [formGroupName]="'step4'"
              [stepControl]="verticalStepperForm?.get('step4')!"
              #verticalStepperStep4
            >
              <ng-template matStepLabel>
                <h3 class="title">Récapitulatif</h3>
                <span class="sub-title">Récapitulatif des éléments</span>
              </ng-template>

              <!-- CONTENT GOES HERE -->
              <div class="h-80 min-h-80 max-h-80 mt-8 sm:mt-4"
                fuseScrollbar
                [fuseScrollbarOptions]="{
                  wheelPropagation: false,
                  suppressScrollX: true
                }"
              >
                <div class="rid grid-rows-2 grid-flow-col sm:grid-cols-2 gap-1 w-full mt-8 sm:mt-4">
                  <div class="grid sm:grid-cols-2 gap-2 w-full mt-8 sm:mt-4">
                    <!-- PREREQUIS / SITE -->
                    <div class="col-span-1">
                      <!-- PREREQUIS -->
                      <div class="row-start-1 border rounded bg-gray-200 p-2">
                        <!-- ENTETE -->
                        <div class="flex flex-col sm:flex-row items-start justify-between">
                          <div class="font-medium">Prérequis</div>
                        </div>

                        <div class="flex space-x-8">
                          <span class="font-bold">Contrat</span>
                          <span>Contrat 02</span>
                        </div>
                        <div class="flex space-x-8">
                          <span class="font-bold">Contrat moi</span>
                          <span>Contrat 02</span>
                        </div>
                      </div>

                      <!-- SITE -->
                      <div class="row-start-2 border rounded bg-gray-200 mt-2 p-2">
                        <!-- ENTETE -->
                        <div class="flex flex-col sm:flex-row items-start justify-between">
                          <div class="font-medium">Site</div>
                        </div>
                      </div>
                    </div>

                    <!-- LOTS -->
                    <div class="col-span-1">
                      <div class="row-start-1 row-end-2 border rounded bg-gray-200 p-2">
                        <!-- ENTETE -->
                        <div class="flex flex-col sm:flex-row items-start justify-between">
                          <div class="font-medium">Lots</div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="flex justify-between mt-8">
                <button
                  class="px-4 rounded-lg text-primary bg-primary-50"
                  mat-flat-button
                  type="button"
                  matStepperPrevious
                >
                  <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_outline:chevron-left'"
                  ></mat-icon>
                  Précedent
                </button>

                <button
                  class="px-4 rounded-lg"
                  mat-flat-button
                  [color]="'primary'"
                  [disabled]="
                    verticalStepperStep3.stepControl.pristine ||
                    verticalStepperStep3.stepControl.invalid
                  "
                  type="button"
                  matStepperNext
                  (click)="confirmeSubmit()"
                >
                  Suivant
                  <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_outline:chevron-right'"
                  ></mat-icon>
                </button>
              </div>
            </mat-step>

            <ng-template matStepperIcon="done">
              <mat-icon>done</mat-icon>
            </ng-template>
          </mat-vertical-stepper>
        </form>
        <!-- FIN FORMS -->
      </div>
    </div>
  </div>
  <!-- FIN CENTENT FORM -->
</div>
