<div
  class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
  <div
    class="relative hidden md:flex flex-auto justify-center lg:px-0 overflow-hidden dark:border-r"
  >
    <carousel
      [images]="images"
      [autoplay]="false"
      [loop]="true"
      [width]="1088"
      [height]="713"
      [cellWidth]="'100%'"
      [lightDOM]="true"
      [dots]="true"
      [arrows]="false"
    ></carousel>
    <!-- Content -->
    <!-- <div class="z-10 relative w-full max-w-2xl">
      <div class="text-7xl font-bold leading-none text-gray-100">
        <div>Bienvenue sur</div>
        <div>RICVA</div>
      </div>
      <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
        RICVA est une plateforme de suivi et de gestion du secteur agricole, de
        la production à la vente en passant par le financement
      </div>
    </div> -->
  </div>
  <div
    class="md:flex md:justify-end w-full sm:w-auto md:h-full py-8 px-4 sm:p-12 md:p-16 md:pt-24 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
  >
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <!-- Logo -->
      <div class="w-30">
        <img src="assets/ricva/logo/logo-ricva-blue.png" />
      </div>

      <!-- Title -->
      <div
        class="mt-8 text-2xl font-extrabold tracking-tight leading-tight text-color-ricva"
      >
        Mot de passe oublié ?
      </div>
      <div class="mt-4 font-medium">
        Remplissez le formulaire pour réinitialiser votre mot de passe
      </div>

      <!-- Alert -->
      <fuse-alert
        class="mt-8 -mb-4"
        *ngIf="showAlert"
        [appearance]="'outline'"
        [showIcon]="false"
        [type]="alert.type"
        [@shake]="alert.type === 'error'"
      >
        {{ alert.message }}
      </fuse-alert>

      <!-- Forgot password form -->
      <form
        class="mt-8"
        [formGroup]="forgotPasswordForm"
        #forgotPasswordNgForm="ngForm"
      >
        <!-- Email field -->
        <mat-form-field class="w-full">
          <mat-label>Addresse email</mat-label>
          <input id="email" matInput [formControlName]="'email'" />
          <mat-error
            *ngIf="forgotPasswordForm.get('email')?.hasError('required')"
          >
            Email address is required
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <!-- Submit button -->
        <button
          class="fuse-mat-button-large w-full mt-3"
          mat-flat-button
          [color]="'primary'"
          [disabled]="forgotPasswordForm.disabled"
          (click)="sendResetLink()"
        >
          <span *ngIf="!forgotPasswordForm.disabled"> Soumettre </span>
          <mat-progress-spinner
            *ngIf="forgotPasswordForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
        </button>

        <!-- Form footer -->
        <div class="mt-8 text-md font-medium text-secondary">
          <span>Revenir à</span>
          <a
            class="ml-1 text-primary-500 hover:underline"
            [routerLink]="['/sign-in']"
            >se connecter
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
